.bundle
db/*.sqlite3
log/*.log
tmp/*
.sass-cache/
.*.sw?
.idea
.DS_Store
tags
tagall
gem-tags
*.tmproj
doc
system/*
*.orig
*.swp
.vagrant
*.box
*.iso
*.dmg
provisioning/
/storage_test
/gateway_test
vendor/bundle
*.nfs*
.rsync_cache/
coverage/
spec/dummy/log/*.log
*.gem
Gemfile.lock
.ruby-gemset
.ruby-version